// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$experience-color: #F4F4F4;
$sidebar-background:#2e69cc;
$danger-red:#800002;
$danger-light-red:#dfb5b6;
$body-blue:#DBE4EE;
