.profile-container {
  padding: 32px 32px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #333333;
  background-color: #FFFFFF;
}

.grid-container {
  padding: 16px 16px;
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 32px;
  // background-color: #2D66C8;
  // color: #FFFFFF;
}

.left-column {
  grid-column: 1 / 2;
}

.right-column {
  grid-column: 2 / 3 ;
}

// .flex-button-container {
//   display: flex;
//   justify-content: space-evenly;
// }
