.profile-container {
  margin: 16px auto;
  padding: 16px 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #333333;
  background-color: #FFFFFF;
}

.profile-container p {
  margin: 0;
}

.mate-title {
  font-size: 48px;
}

.profile-container h1 {
  font-size: 28px;
}

.grid-container {
  margin: 16px 16px;
  padding: 0px 16px;
  // border: 1px solid #BBBBBB;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  // background-color: #2D66C8;
  // color: #FFFFFF;
}

.left-column {
  grid-column: 1 / 2;
  padding: 8px 0px;
}

.right-column {
  grid-column: 2 / 3 ;
}

a {
  text-decoration: none;
}

.flex-link-container {
  display: flex;
  justify-content: center;
}

.link-invisible-div {
  margin: 0px 64px;
}

.display-none {
  display: none;
}
