.trip-card {
  margin: 16px 16px;
  padding: 8px 8px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.left-box {
  display: flex;
  flex-wrap: wrap;
}

.right-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px 8px;
  margin-right: 0;
}

.right-box div {
  justify-self: flex-end;
}

.trip-photo-box {
  margin: 8px 8px;
}

.trip-summary-box {
  margin: 8px 8px;
  p {
    font-family:'Roboto', sans-serif;
  }
}

.mini-trip-photo {
  width: 200px;
  border-radius: 5px;
}
