.experience-header {
  display: flex;
  flex-wrap: wrap;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  padding: 16px 16px;
}

.experience-container {
  background-color: $experience-color;
  margin:8px 8px;
  border-radius: 8px;
}

.content-container h3 {
  font-size: 24px;
}

.content-container h3 span {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}

// skipper document

.invisible-flex div {
  padding: 16px 16px;
}

.align-center {
  align-items: center;
}

.result-container > div > div {
  margin: 0px 16px;
}

.result-container .document-placeholder {
  font-size: 12px;
  text-align: center;
  width: 200px;
  padding: 48px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.mini-document-photo {
  width: 200px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.mini-document-photo:hover {
  scale: 1.04;
  border: 2px solid $sidebar-background;
  transition-duration: 0.5s;
}


// Modal window

.modal-content h4 {
  margin: 8px auto;
}

.modal-content .close {
  float: right;
  text-align: right;
}

.edit-target {
  color: $sidebar-background;
}

.edit-target:hover {
  cursor:pointer;
  color: #000000;
}
