.experience-header {
  display: flex;
  flex-wrap: wrap;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  padding: 16px 16px;
}

.experience-container {
  background-color: $experience-color;
  margin:8px 8px;
  border-radius: 8px;
}

.content-container h3 {
  font-size: 24px;
}

.content-container h3 span {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}

// Modal window

.modal-content h4 {
  margin: 8px auto;
}

.modal-content .close {
  float: right;
  text-align: right;
}

.edit-target {
  color: $sidebar-background;
}

.edit-target:hover {
  cursor:pointer;
  color: #000000;
}
