<p>here is where we will put the link to the invitation</p>


<p>You are invited to join our app.</p>

<p>You are invited to join our app. Click <%= link_to "here", @home_url %> to view your invitation.</p>
