.add-button{
  background-color: #FFFFFF;
  color: $sidebar-background;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.2s all;
  position:relative;
  bottom: 50px;
  left: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover{
  background-color: $sidebar-background;
  color: #FFFFFF;
  transition: 0.2s;
  cursor: pointer;
}

.add-button:active{
  transform: scale(0.85);
}
