.centered {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10.22% 15.3% 46% 20% 8.5%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sidebar-wide {
  .sidebar-container {
    transition: ease 0.4s;
    display: flex;
    min-width: 280px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    transition: ease 0.4s;
    width: 250px;
    height: 95vh;
    border-radius: 15px;
    background-color: #2e69cc;
  }

  .sidebar-section {
    transition: ease 0.4s;
    width: 100%;
  }

  .sidebar-logo {
    transition: ease 0.4s;
    height: 75px;
    margin-top: 15px;
    margin-left: 15px;
    background-image: asset-data-url("logo_text_white_2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .sidebar-new-trip {
    transition: ease 0.4s;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: #ffffff;
    background-image: asset-data-url("icon-new-trip.svg");
    background-size: unset 15px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .sidebar-button {
    transition: ease 0.4s;
    gap: 15px;
    color: white;
    margin: 0 35px 0 25px;
    display: flex;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    flex-direction: row;
    position: relative;
  }

  .sidebar-button:hover {
    transition: ease 0.4s;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .button-active {
    transition: ease 0.4s;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .sidebar-collapse-section {
    transition: ease 0.4s;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .sidebar-collapse {
    transition: ease 0.4s;
    height: 20px;
    margin-right: 15px;
  }
}

.sidebar-small {
  .sidebar-container {
    color: white;
    transition: ease 0.4s;
    display: flex;
    min-width: 110px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    transition: ease 0.4s;
    width: 85px;
    height: 95vh;
    border-radius: 15px;
    background-color: #2e69cc;
  }

  .sidebar-new-trip {
    transition: ease 0.4s;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: #ffffff;
    background-image: asset-data-url("icon-plus.svg");
    background-size: unset 15px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .sidebar-button {
    transition: ease 0.4s;
    gap: 15px;
    display: flex;
    padding: 5px 0 5px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .sidebar-button:hover {
    transition: ease 0.4s;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .sidebar-button-text {
    transition: ease 0.4s;
    display: none;
  }

  .sidebar-collapse-section {
    transition: ease 0.4s;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .sidebar-collapse {
    transition: ease 0.4s;
    height: 20px;
    transform: rotate(180deg);
  }

  .sidebar-logo {
    transition: ease 0.4s;
    height: 65px;
    margin-top: 15px;
    margin-left: 9px;
    background-image: asset-data-url("logo_white_2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

// Notifications

#nofitication-circle {
  position: absolute;
  left: 28px;
  top: 4px;
  padding: 2px 4px;
  border-radius: 48px;
  background-color: $red;

}
