.sidebar-wide {
  width: 250px;
  margin-left: 30px;
  margin-top: 1.5%;
  padding-top: 160px;
  height: 95%;
  max-height: 830px;
  background-color: $sidebar-background;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-wide-logo {
  position: absolute;
  top: 20px;
  left: 23px;
}

.sidebar-wide-logo > img {
  height: 75px;
}

.sidebar-wide-new-trip {
  width: 100%;
  padding: 0 0 0 28px;
  margin-bottom: 40px;
}

.sidebar-wide-new-trip-button {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -2.5%;
  color: #2e69cc;
}

.sidebar-wide-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  margin-bottom: 30px;
}

.sidebar-wide-section-icon {
  width: 48px;
  height: 48px;
}

.sidebar-wide-section-title {
  height: 20px;
  margin-top: 13px;
  font-size: 20px;
  color: white;
  letter-spacing: -2.5%;
  margin-left: 12px;
}

.sidebar-wide-settings {
  margin-top: 165px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
}

.sidebar-wide-collapse {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sidebar-wide-collapse-button {
  width: 86px;
  height: 86px;
}
