// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



// Blue color #2D66C8

.body {
  background-color: #444444;
}

.page-container {
  margin: 32px auto;
  padding: 16px 16px;
  max-width: 1024px;;
}

.results-header {
  position: relative;
  border-bottom: 1px solid #000000;
  padding: 8px;
}
