// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}


a,
a:hover {
  text-decoration: none;
  color: unset;
}
::-webkit-meter-optimum-value .application-container {
  height: 100vh;
  width: 100vw;
}

// Blue color #2D66C8

.page-container {
  margin: 32px auto;
  padding: 16px 16px;
  max-width: 1024px;
  background-color: rgb(255, 255, 255);
}

.results-header {
  position: relative;
  // border-bottom: 1px solid #000000;
  padding: 8px;
}

.results-header:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

a:link {
  text-decoration: none;
}


.application-container {
  display: flex;
  flex-direction: row;

}
.content-box {
  width: 100%;
  padding: 30px;
}
