// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #DBE4EE;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
::-webkit-meter-optimum-value .application-container {
  height: 100vh;
  width: 100vw;
}

// Blue color #2D66C8

.page-container {
  padding: 8px 30px 16px 40px;
}

.central-container{
  padding: 0px 30px 16px 30px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.results-header {
  position: relative;
  border-bottom: 1px solid #AAAAAA;
  padding: 8px;
}

.dropdown-header:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

a:link {
  text-decoration: none;
}


.application-container {
  display: flex;
  flex-direction: row;

}
.content-box {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.flipped {
  transform: rotate(180deg);
  transition: ease 0.2s;
}


h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}


h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  line-height: 1.2;
}

.form-title {
  text-align: center;
}
