<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      #signature-logo {
        width: 256px;
        padding: 8px 8px;
        border-radius: 16px;
        background-color: #2E69CC;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <br><br>
    <span>The CrewsIn team</span><br><br>
    <div id="signature-logo"><%= image_tag('logo_text_white_2x.png', class: "logo", width: "100%")%></div>
  </body>
</html>
